source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/efuse/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/esp_common/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/esp_hw_support/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/esp_system/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/freertos/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/hal/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/log/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/newlib/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/soc/Kconfig"
source "D:/Embedded/Espressif/frameworks/esp-idf-v5.1.6/components/spi_flash/Kconfig"